*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: url('./assets/bg.png');
    background-size: cover;
}

h1{
    color: rgb(90, 37, 192);
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5% auto;
    text-align: center;
}

#container{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}

#gameimg{
    height: 70%;
}

#playbtn{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: larger;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#play{
    height: 60px;
    margin: 30px;
}